@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

html {
    scroll-snap-type: y mandatory;
}

.sectionOne {
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: center;
}

.sectionTwo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: center;
}

// .profile {
// }

.profileImageAndLinks {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profileImage {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.profileDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 570px;
}

.icons {
    font-size: 24px;
    display: flex;
    justify-content: center;
    color: #363636;
}

.icons:hover {
    font-size: 24px;
    display: flex;
    justify-content: center;
    color: grey;
}

.writings {
    // text-align: center;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul {
    list-style-type: square;
}






//tabs

.tabsDiv {
    display: flex;
    align-items: center;
    flex-direction: row;
    width:100%;
}


.tabs {
    display:flex;
    flex-direction: row;
}

.tablink {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: inline-block;
    background-color: #555;
    margin: 2px;
    border-style: none;
    outline: none
}
  
.tablink:hover {
    background-color: #888;
}
  
.tabcontent {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 500px;
}

.columns {
    flex: 1;
}

.portfolioImageDiv {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.porfolioImage {
  max-width: 600px;
}

.portfolioText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
}

.techsUsed {
    display:flex;
    justify-content: center;
}

.button {
    margin: 3px;
}

//arrows

#arrow_1 .arrow {
    $size: 30px;
    $width: 2px;
  
    cursor: pointer;
    display: block;
    width: $size / 1.414;
    height: $size / 1.414 * 2;
    position: relative;
    
    & span,
    &:before,
    &:after {
      background: black;
      content: '';
      display: block;
      width: $size;
      height: $width;
      position: absolute;
      top: calc(50% - (#{$width} / 2));
    }
      
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
    
    & span {
      width: 0;
    }
    &:hover span {
      width: $size * 1.414;
    }
    
    @each $direction in 'left' 'right' {
      &.arrow--#{$direction} {
        & span,
        &:before,
        &:after {
          #{$direction}: 0;
          transform-origin: #{$direction} 50%;
        }
  
        &:before,
        &:after {
          transition: #{$direction} 0.3s 0.05s;
        }
  
        & span {
          transition: width 0.3s, #{$direction} 0.3s 0.05s;
        }
  
        &:hover {
          & span,
          &:before,
          &:after {
            #{$direction}: $size / 1.414 * -1;
          }
        }
      }
    }
  }
  